.button {
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button.small {
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  border-radius: 6px;
}


.button:active {
  opacity: 0.6;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
