* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
  font: inherit;
  text-align: left;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
  width: 100%;
}

button:active {
  opacity: 0.6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  /* Prevent pull-to-refresh on iOS */
  overscroll-behavior: none;
}

/* Common text styles */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  font-weight: 600;
}

/* Common container styles */
.container {
  padding: 16px;
  padding-top: 0;
}

/* Fix iOS safe areas */
@supports (padding: max(0px)) {
  .container {
    padding-left: max(16px, env(safe-area-inset-left));
    padding-right: max(16px, env(safe-area-inset-right));
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }
}

/* Common list styles */
ul {
  list-style: none;
}

/* Common button reset */
button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-input {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  padding: 8px 0;
  font-family: inherit;
  outline: none;
}

.text-input::placeholder {
  color: var(--tg-theme-hint-color);
}

.panel {
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
}

.panel > :only-child {
  margin-block: 8px;
  margin-inline: 16px;
}

.panel > * {
  display: grid;
  gap: 16px;
  min-height: 36px;
}

.panel.left > * {
  grid-template-columns: 30px 1fr;
  padding-left: 16px;
  margin: 0;
}

.panel.left > * > *:first-child {
  justify-self: center;
  align-self: center;
}

.panel.left > * > *:last-child {
  padding-block: 8px;
  line-height: 20px;
}

.panel.left > * + * > *:last-child {
  border-top: 1px solid
    color-mix(in srgb, var(--tg-theme-hint-color) 20%, transparent);
}

.panel.right > * {
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-right: 16px;
  padding-block: 6px;
  margin: 0;
  margin-left: 16px;
}

.panel.right > * + * {
  border-top: 1px solid
    color-mix(in srgb, var(--tg-theme-hint-color) 20%, transparent);
}

.section-header {
  color: var(--tg-theme-hint-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding-inline: 16px;
  padding-bottom: 8px;
}

.add-button {
  color: var(--tg-theme-link-color);
}

.add-button-icon {
  font-size: 20px;
}

.delete-button {
  color: var(--tg-theme-hint-color);
  justify-content: center;
  align-content: center;
}
