html {
  font-family: arial;
}

body {
  margin: 0;
}

:root {
  --padding: 10px;
  --telegram-color: rgb(36, 161, 222);
  --border-radius: 5px;
}

.poll-page {
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.poll-page .container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 16px;
  overflow: hidden;
  flex: 1;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.vote-split {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 24px;
}

.candidates,
.ranking {
  flex-basis: auto;
  flex-grow: 1;

  display: grid;
  overflow: hidden;
}

.ranking {
  grid-template-rows: 1fr;
  flex-shrink: 1;
}

.candidates {
  grid-template-rows: auto 1fr;
  overflow: hidden;
  max-height: 50%;
  flex-shrink: 0;
}

.fallback {
  height: 100%;
  align-content: center;
  text-align: center;
  padding: 16px;
}

.ranking-item {
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
  margin-right: 8px;
}

.subnav a {
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

.subnav a.active {
  color: black;
  pointer-events: none;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  margin: var(--padding);
}

.results {
  align-self: start;
  justify-self: start;
  border-collapse: collapse;
}

.results td,
.results th {
  padding: 5px;
  text-align: right;
  min-width: 30px;
}

.results tbody th {
  text-align: right;
  border-right: 1px solid gray;
}

.results thead th:not(:first-child) {
  border-bottom: 1px solid gray;
}

@keyframes highlightFade {
  0% {
    background-color: color-mix(
      in srgb,
      var(--tg-theme-hint-color) 50%,
      transparent
    );
  }
  100% {
    background-color: transparent;
  }
}

.highlight-candidate {
  animation: highlightFade 1.5s ease-out;
}
