/* .setting-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.setting-help {
  color: var(--tg-theme-hint-color);
  font-size: 13px;
  padding: 0 16px 12px;
} */

.settings-group {
  padding: 0 16px;
}

.panel {
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  min-height: 36px;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.section-header {
  color: var(--tg-theme-hint-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 16px 4px;
  letter-spacing: 0.3px;
}

.settings-list {
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 16px;
}

.settings-option {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 16px;
  cursor: pointer;
}

.check-mark {
  color: var(--tg-theme-button-color);
  font-size: 18px;
  opacity: 0;
  align-self: center;
  justify-self: center;
}

.settings-option input[type="radio"] {
  display: none;
}

.option-content {
  flex: 1;
  border-bottom: 1px solid
    color-mix(in srgb, var(--tg-theme-hint-color) 20%, transparent);
}

.settings-option:last-child .option-content {
  border-bottom: none;
}

.option-title {
  color: var(--tg-theme-text-color);
  font-size: 16px;
  line-height: 20px;
  padding-block: 8px;
  padding-right: 16px;
}

.option-description {
  color: var(--tg-theme-hint-color);
  font-size: 14px;
}

.settings-option input[type="radio"]:checked ~ .check-mark {
  opacity: 1;
}
